.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}
@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        padding-bottom: 26px;
        padding-left: 27px;
    }
}