.profile {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    width: calc(100% - 400px);
    margin: 40px auto 51px;
}
@media screen and (max-width: 1023px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) {
    .profile {
        width: calc(100% - 38px);
        margin: 42px auto 36px;
    }
}