.profile__description {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    margin: 16px 0 0 0;
    min-width: 336px;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (max-width: 1023px) {
    .profile__description {
        min-width: 282px;
        font-size: 14px;
        line-height: 17px;
        margin: 10px auto 0;
        text-align: center;
    }
}