.footer {
    max-width: 318px;
    margin: 66px 0 0 200px;
}
@media screen and (max-width: 1279px) {
    .footer {
        margin: 66px auto 0;
    }
}
@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 38px);
        margin: 48px auto 0;
    }
}