.elements__element-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 282px;
    min-height: 361px;
    position: relative;
}