.elements__element-like {
    cursor: pointer;
    margin: 0;
    background: url(../../../images/elements__element-like.svg) center no-repeat;
    min-width: 22px;
    min-height: 19px;
    border: 0;
    padding: 0;
    width: 100%;
}
.elements__element-like:hover {
    opacity: 0.5;
}