.popup__save {
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    width: 358px;
    min-height: 50px;
    margin: 0 auto;
    border: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    padding: 0;
}
.popup__save:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 767px) {
    .popup__save {
        width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}